.dashboard {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 16px;

  height: 300px;
  align-items: stretch;
}

.dashboard > * {
  height: 100%;
}

.jobs,
.details {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.jobs > section,
.details > section {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 900px) {
  .dashboard {
    grid-template-columns: 1fr;
    height: 700px;
    gap: 16px;
  }

  .jobs {
    height: 350px;
  }

  .details {
    height: 250px;
  }
}
