.dashboard {
  display: flex;

  flex-direction: column;

  gap: 24px;
}

@media (min-width: 1024px) {
  .dashboard {
    display: grid;

    grid-template-columns:
      350px
      1fr;

    align-items: start;
  }
}
